p {
    color: $text-grey;
    margin-bottom: 0px !important;
}

a {
    text-decoration: none !important;
}


.layout-section {
    padding: 60px 0px;
    min-height: 100vh;
    max-height: auto;

}

.heading-title {
    padding: 50px 0px;
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
 
}


.product-detail-img{
    width: 400px;
 
    height: 400px;
   
    display: flex;
  
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    padding: 37px;
    border-radius: 7px;
}


.product-details-price{
    font-size: 26px;
    font-weight: 700;
    color: #d72323;
    margin: 8px 0px;
}

.product-details-category{
    font-size: 12px;
    text-transform: capitalize;
    color: $text-grey2;
}

.product-descritption-title{
    font-size: 17px;
    
}


.details-description{
    line-height: 1.45;
    font-size: 12px;
    margin: 23px 0px;
}


//home style start here
.main-wrapper-home{
    width: 100%;
    min-height: 100vh;
 
}

.home-img{
    width:400px;
    margin-top: -10%;
}

.big-title-heading{
    font-size: 48px;
    font-weight: 700;
}