*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
 
    
}



//variable

$primary:#388e3c;
$secondary:#2874f0;
$grey-background:#f1f3f7;




//text color
$text-grey:#4a4c59;
$text-grey2:#878787;





//shadow
$shadow1:rgb(100 100 111 / 40%) 0px 7px 29px 0px;
$header-shadow:0px 5px 30px rgba(0, 0, 0, 0.05);


//import files
@import 'variables.scss';
@import 'format.scss';
@import 'animation.scss';

//Include section
@import 'include/header';
@import 'include/footer';

//components
@import 'component/card';
@import 'component/loader';







// body{
//     background-color: $grey-background !important;
// }
