.footer-main-wrapper{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
}

.footer-wrapper{
    display: flex;
    margin-bottom: 0px;
    list-style-type: none;
    li{
        margin: 10px;
        a{
            color: #fff;
            font-size: 13px;
        }
    }
}