.nav-link{
  a{
    text-decoration: none !important;
    color: #fff;
  }

  a.active{
    border-bottom: 2px solid #fff;

  }
}

.navbar{
    padding: 15px 0px !important;
    box-shadow: $header-shadow;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
}

