.nav-link{
  a{
    text-decoration: none !important;
    color: #fff;
  }

  a.active{
    border-bottom: 2px solid #fff;

  }
}

.navbar{
    padding: 15px 0px !important;
    box-shadow: $header-shadow;
    background: #2874f0 !important;
}

